body {
  background: pink;
  color: #333;
  font-size: 20px;
  height: 200px;
}
div {
  font-size: 32px;
  background: #666;
  height: 100px;
  width: 150px;
}
a {
  color: white;
  text-decoration: none;
  font-size: 90px;


}

